@import 'variables';

.hf-cyan {
  color: $hfCyan;
}

.hf-dark-blue {
  color: $hfDarkBlue;
}

.hf-black {
  color: $blackText;
}

body {
  background-color: $background;
}

#main-content {
  padding: 11rem 3rem 3rem 3rem;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Segoe UI';
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  color: $hfDarkBlue;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: $blackText;
}

.wide-btn {
  width: 221px;
  height: 41px;
  margin: 1rem auto;
}
