@import 'variables';

.hf-cyan {
  color: $hfCyan;
}

.hf-dark-blue {
  color: $hfDarkBlue;
}

.hf-black {
  color: $hfBlack;
}

body {
  background-color: $background;
}

#main-content {
  margin: 11rem 15rem;
}

h1,
h2,
h3 {
  font-family: 'Segoe UI';
}
