$hfCyan: #54b6c6;
$btnCyan: #399dac;
$hfDarkBlue: #071434;
$blackText: #37352F;
$background: #f8f8f8;
$faintQuoteGray: #828282;

// new WIP design system colors
$blue-forward: #071434;
$blue-humanity: #54B6C6;
$blue-button: #399DAC;
$gray-0: #FFFFFF;
$gray-1: #F8F8F8;
$gray-2: #CBCBCB;
$gray-3: #8F8F8F;
$gray-4: #555555;
$gray-5: #37352F;
