// These should be in-sync with the colors in colors.js
$hfCyan: #54b6c6;
$btnCyan: #399dac;
$hfDarkBlue: #071434;
$blackText: #37352f;
$background: #f3f2ef;
$faintQuoteGray: #828282;

// new WIP design system colors
$color-blue-forward: #071434;
$color-blue-humanity: #54b6c6;
$color-blue-button: #399dac;
$color-gray-0: #ffffff;
$color-gray-1: #f8f8f8;
$color-gray-2: #cbcbcb;
$color-gray-3: #8f8f8f;
$color-gray-4: #555555;
$color-gray-5: #37352f;
$color-success: #27ae60;
$color-error: #ea2027;
