// These should be in-sync with the colors in colors.js
$hfCyan: #54b6c6;
$btnCyan: #399dac;
$hfDarkBlue: #071434;
$blackText: #37352F;
$background: #f8f8f8;
$faintQuoteGray: #828282;

// new WIP design system colors
$color-blue-forward: #071434;
$color-blue-humanity: #54B6C6;
$color-blue-button: #399DAC;
$color-gray-0: #FFFFFF;
$color-gray-1: #F8F8F8;
$color-gray-2: #CBCBCB;
$color-gray-3: #8F8F8F;
$color-gray-4: #555555;
$color-gray-5: #37352F;
$color-success: #27AE60;
$color-error: #EA2027;
