@import 'variables';

#account-nav {
  background: white;
  a {
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  a.active-profile-nav {
    font-weight: bold;
  }

  a.active-profile-nav:before {
    height: 1.5rem;
    width: 0.3rem;
    margin-right: 0.5rem;
    display: block;
    content: '';
    float: left;
    background-color: $hfCyan;
  }
}

// the styling below overrides the default blue color for input switches
.custom-control-input:focus ~ .custom-control-label::before {
  /* when the button is toggled off  
it is still in focus and a violet border will appear */
  border-color: $hfCyan !important;
  /* box shadow is blue by default 
but we do not want any shadow hence we have set  
all the values as 0 */
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

/*sets the background color of 
switch to violet when it is checked*/
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $hfCyan !important;
  background-color: $hfCyan !important;
}

/*sets the background color of 
switch to violet when it is active*/
.custom-control-input:active ~ .custom-control-label::before {
  background-color: $hfCyan !important;
  border-color: $hfCyan !important;
}

/*sets the border color of switch 
to violet when it is not checked*/
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $hfCyan !important;
}
