@import 'variables';

section {
  margin: 1.75rem auto;
}

.wide-btn {
  margin: 0.25rem auto;
}

.header-2 {
  color: $hfDarkBlue;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.center-when-small {
  @media (max-width: 1199.98px) {
    text-align: center;
  }
}

.header-3 {
  font-family: Museo;
  font-weight: 900;
  color: $btnCyan;
}

#top-card-txt {
  @media (max-width: 1199.98px) {
    margin-top: 1.5rem;
  }
}

#bot-group {
  margin: 3rem auto;
}

.btn-outline-info {
  background-color: white;
}

.mlk-square {
  width: 550px;
  @media (max-width: 767.98px) {
    width: 100%;
  }
}
