@import 'variables';

.horiz-line-only {
  display: flex;
  margin: 2rem auto;
  &:before,
  &:after {
    color: white;
    content: '';
    flex: 1;
    border-bottom: groove 2px;
    margin: auto 1rem;
    box-shadow: 0 -1px; /* ou 0 1px si border-style:ridge */
  }
}

.horiz-container {
  @media (max-width: 1199.98px) {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid rgb(170, 170, 170);
    line-height: 0.1rem;
    margin: 2rem auto;

    span {
      background: $gray-1;
      padding: 0 10px;
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.vert-container {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(170, 170, 170);

    .vert-line {
      height: 20vh;
      border: solid 1px;
    }

    p {
      margin: 1rem auto;
    }
  }
}
