production_server_defaults: &production_server_defaults
    adapter: mysql
    host: 35.188.204.248

test:
    generator: db_url_generator
    adapter: postgresql
    host: localhost
    database: hf_volunteer_portal_test
    user: admin
    password: password
development:
    generator: db_url_generator
    adapter: postgresql
    host: localhost
    database: hf_volunteer_portal_development
    user: admin
    password: password
staging:
    <<: *production_server_defaults
    database: airtable_database
    user: no_pii
    password: humanity-forward_hf-db1-mysql_no_pii
production:
    <<: *production_server_defaults
    database: airtable_database
    user: no_pii
    password: humanity-forward_hf-db1-mysql_no_pii
