production_server_defaults: &production_server_defaults
    adapter: mysql
    generator: secret_generator
    host: 
    database: 
    user: 
    password: 

test:
    databases:
        database:
            generator: db_url_generator
            adapter: postgresql
            host: db
            database: hf_volunteer_portal_test
            user: admin
            password: password
development:
    routes:
        client: 'http://localhost:8080'
    databases:
        database:
            generator: db_url_generator
            adapter: postgresql
            host: db
            database: hf_volunteer_portal_development
            user: admin
            password: password
    auth:
        jwt:
            secret: 
        google:
            client_id: 
            client_secret: 
        github:
            client_id: 
            client_secret: 
staging:
    databases:
        database:
            <<: *production_server_defaults
production:
    databases:
        database:
            <<: *production_server_defaults
