mypy
pytest
faker
pydantic[email]
fastapi
python-multipart
uvicorn[standard]
gunicorn
requests
sqlalchemy
pybigquery
pymysql
psycopg2-binary
pyyaml
google-cloud-secret-manager
itsdangerous
authlib
httpx
fastapi_jwt_auth
airtable-python-wrapper
sendgrid
email-validator
passlib
twilio
phonenumbers
slack-sdk
pyotp
